#全部跟踪
#
#
# 配置文件不跟踪
.config
.config.old
# 源码包目录不跟踪 存储在百度云盘
dl/
# 临时目录不跟踪
build_dir/
staging_dir/
tmp/

bin/
feeds/

# python 临时文件
*.pyc

# make 时会生成的文件不跟踪
package/base-files/files/etc/rc.local
package/base-files/files/radio_tools/

